Django>=5.0,<6.0
django-rest-framework
djangorestframework-simplejwt
django-cors-headers
psycopg2-binary
celery
redis
django-environ
pytest
pytest-django
pytest-cov
flake8
black
sentry-sdk
groq
scikit-learn
pypdf
drf-spectacular
